body {

}

#main {
  width: 900px;
  margin: 10px auto;
  min-height: 600px;
  @include perspective(800);
  @include perspective-origin(75% 25%);
  position: relative;
  overflow: hidden;
  background: #fff;
  font-family: 'Lato', sans-serif;
}

.letter {
  font-size: 50px;
  @include text-shadow(2px 2px 3px #0054a6);
}

#pool {
  height: 361px;
  width: 430px;
  background: url(/images/pool.png) 0 0 no-repeat;
  position: absolute;
  left: 210px;
  bottom: 0;
  z-index: 100;
  /*@include scale3d(.25,.25, .25);
  @include animation-name(pool);
  @include animation-duration(3s);
  @include animation-timing-function(easein);
  @include animation-direction(normal);
  @include animation-iteration-count(1);
  @include animation-delay(0);
  @include animation-play-state(running);
  @include animation-fill-mode(forwards);
  opacity: .75;*/
}

@include keyframes(pool) {
  100% {
     @include scale3d(1,1,1);
     opacity: 1;
  }
}

#ladder {
  height: 500px;
  width: 95px;
  position: absolute;
  bottom: -500px;
  left: 100px;
  background: url(/images/ladder.png) 0 0 no-repeat;

  @include animation-name(ladder);
  @include animation-duration(3s);
  @include animation-timing-function(linear);
  @include animation-direction(normal);
  @include animation-iteration-count(1);
  @include animation-delay(0);
  @include animation-play-state(running);
  @include animation-fill-mode(forwards);

}

#M {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  @include animation-name(letterM);
  @include animation-duration(6s);
  @include animation-timing-function(linear);
  @include animation-direction(normal);
  @include animation-iteration-count(1);
  @include animation-delay(3s);
  @include animation-play-state(running);
  @include animation-fill-mode(forwards);
  color: #00aeef;

}

@include keyframes(ladder) {
  0% {
    bottom: -500px;
  }

  70% {
    bottom: 0;
    @include rotateY(90deg);
  }

  100% {
    @include rotateX(45deg);
    bottom: 0;
  }
}

@include keyframes(letterM) {
  0% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
  5% {
    bottom: 80px;
    left: 10px;
  }
  10% {
    bottom: 60px;
    left: 15px;
  }
  15% {
    bottom: 150px;
    left: 40px;
  }
  20% {
    bottom: 130px;
    left: 60px;
  }
  25% {
    bottom: 250px;
    left: 80px;
  }
  30% {
    bottom: 200px;
    left: 90px;
  }
  35% {
    bottom: 350px;
    left: 120px;
  }
  40% {
    bottom: 300px;
    left: 160px;
  }

  45% {
    bottom: 430px;
    left: 230px;
    opacity: 1;
    @include rotateZ(0deg);
  }

  50% {
    bottom: 430px;
    left: 250px;
    opacity: 1;
    @include rotateZ(45deg);
  }


  60% {
    @include rotateZ(170deg);
    bottom: 420px;
    left: 270px;
    opacity: 1;
  }

  65% {
    @include rotateZ(170deg);
    bottom: 400px;
    left: 270px;
    opacity: 1;
  }

  70% {
    @include rotateZ(180deg);
    bottom: 400px;
    left: 270px;
    opacity: 1;
  }


  100% {
    @include rotateZ(170deg);
    bottom: 0px;
    left: 270px;
    opacity: 0;

  }


}

#C {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  @include animation-name(letterC);
  @include animation-duration(6s);
  @include animation-timing-function(linear);
  @include animation-direction(normal);
  @include animation-iteration-count(1);
  @include animation-delay(7s);
  @include animation-play-state(running);
  @include animation-fill-mode(forwards);

  &.letter {
    font-size: 100px;
    color: red;
    @include text-shadow(2px 2px 3px #0054a6);
  }
}

@include keyframes(letterC) {
  0% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
  5% {
    bottom: 80px;
    left: 10px;
  }
  10% {
    bottom: 60px;
    left: 15px;
  }
  15% {
    bottom: 150px;
    left: 40px;
  }
  20% {
    bottom: 130px;
    left: 60px;
  }
  25% {
    bottom: 250px;
    left: 80px;
  }
  30% {
    bottom: 200px;
    left: 90px;
  }
  35% {
    bottom: 350px;
    left: 120px;
  }
  40% {
    bottom: 300px;
    left: 160px;
  }

  45% {
    bottom: 430px;
    left: 230px;
    opacity: 1;
  }

  50% {
    bottom: 460px;
    left: 320px;
    opacity: 1;
    @include scale3d(1,1,1);
  }


  60% {
    bottom: 420px;
    left: 320px;
    opacity: 1;
    @include scale3d(2,2,5);
    @include rotateX(180deg);
    @include rotateY(180deg);
    /*@include scale3d(1,1,1);*/
  }

  65% {
    //@include rotateZ(180deg);
    bottom: 400px;
    left: 320px;
    opacity: 1;
  }

  70% {
    //@include rotateZ(180deg);
    bottom: 350px;
    left: 320px;
    opacity: 1;
    @include scale3d(1,1,1);
  }


  100% {
    @include scale(.75);
    bottom: 0px;
    left: 320px;
    opacity: 0;

  }


}


#D {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  @include animation-name(letterD);
  @include animation-duration(8s);
  @include animation-timing-function(linear);
  @include animation-direction(normal);
  @include animation-iteration-count(1);
  @include animation-delay(10s);
  @include animation-play-state(running);
  @include animation-fill-mode(forwards);

  &.letter {
    font-size: 25px;
    color: #fff200;
    @include text-shadow(2px 2px 3px #d37c3c);
  }
}

@include keyframes(letterD) {
  0% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
  5% {
    bottom: 80px;
    left: 10px;
  }
  10% {
    bottom: 60px;
    left: 15px;
  }
  15% {
    bottom: 150px;
    left: 40px;
  }
  20% {
    bottom: 130px;
    left: 60px;
  }
  25% {
    bottom: 250px;
    left: 80px;
  }
  30% {
    bottom: 200px;
    left: 90px;
  }
  35% {
    bottom: 350px;
    left: 120px;
  }
  40% {
    bottom: 300px;
    left: 160px;
  }

  45% {
    bottom: 430px;
    left: 230px;
    opacity: 1;
  }

  50% {
    bottom: 460px;
    left: 320px;
    opacity: 1;
    @include scale3d(2,2,2);
  }


  60% {
    bottom: 420px;
    left: 320px;
    opacity: 1;
    @include rotateX(-180deg);
    @include rotateY(-180deg);
    /*@include scale3d(1,1,1);*/
  }

  65% {
    @include scale3d(5,5,5);
    bottom: 400px;
    left: 320px;
    opacity: 1;
  }

  70% {
    @include rotateZ(180deg);
    bottom: 350px;
    left: 320px;
    opacity: 1;
    @include scale3d(.25, .25, .25);
  }

  80% {
    @include rotateY(180deg);
    bottom: 200px;
    left: 320px;
    opacity: 1;
    @include scale3d(2, 2, 2);
  }


  100% {
    bottom: 0px;
    left: 320px;
    opacity: 0;
    @include scale3d(3, 3, 3);

  }


}

#splashgroup {
  position: absolute;
  bottom: 6px;
  left: 200px;

  width: 100px;
  height: 100px;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: blue;
    opacity: 0;
    @include border-radius(50%);
    @include animation-duration(.5s);
    @include animation-timing-function(linear);
    @include animation-direction(normal);
    @include animation-iteration-count(1);
    @include animation-delay(0);
    @include animation-play-state(running);
    @include animation-fill-mode(forwards);
  }

  #splash1 {
    @include animation-name(splash1);
  }
  #splash2 {
    @include animation-name(splash2);
  }


}

@include keyframes(splash1) {
  30% {
    left: -75px;
    top: -100px;
    opacity: 1;
  }

  60% {
    left: -125px;
    top: -130px;
    opacity: 1;
  }
  100% {
    left: -170px;
    top: 0px;
    opacity: 0;
  }
}

@include keyframes(splash2) {
  0% {
    left: 200px;
    top: -100px;
    opacity: 1;
  }
  30% {
    left: 150px;
    top: -280px;
    opacity: 1;
  }

  60% {
    left: 100px;
    top: -130px;
    opacity: 1;
  }
  100% {
    left: 90px;
    top: 0px;
    opacity: 1;
  }
}






